@using Semplicita.Models
@using Semplicita.Helpers

@model RolesHelper.PermissionsContainer

@{
    ViewBag.Title = "Your Tickets";
}

<div class="jumbotron">
    @if( Model.CanViewAllTickets ) {<h1>All Tickets</h1> } else { <h1>Available Tickets</h1>}
</div>

@if( Model.CanCreateTickets ) {
    <div class="row">
        <p>
            <div class="dropdown">
                <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Report New Issue
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    @if( Model.ViewableProjects.Count > 0 ) {
                        foreach( Project p in Model.ViewableProjects.Where(p => p.Permissions(User).CanCreateTicket) ) {
                            <a class="dropdown-item" href="@Url.Action("Create", "Tickets", new { p.TicketTag })">@p.Name</a>
                        }
                    } else {
                        <div class="dropdown-item"><h6 class="text-secondary">You are not a member of a project.</h6></div>}
                    }

                </div>
            </div>
        </p>
    </div>
}

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">

            </div>

            <div class="card-body">
                <table id="ticketsTable" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Identifier</th>
                            <th>Title</th>
                            <th>Reporter</th>
                            <th>Solver</th>
                            <th>Status</th>
                            <th>Last Interaction</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach( Ticket t in Model.ViewableTickets ) {
                            var permissions = t.Permissions(User);
                            <tr>
                                <td>@t.GetTicketIdentifier()</td>
                                <td>@t.Title</td>
                                <td>@t.Reporter.FullNameStandard</td>
                                <td>@t.GetAssignmentBadgeHtml(true)</td>
                                <td>@t.TicketStatus.GetStatusBadgeHtml()</td>
                                <td>@t.GetLastInteractBadgeHtml()</td>

                                <td class="text-center">
                                    <div class="row">
                                        @if( permissions.CanViewTicket ) {
                                            <div class="col pl-1 pr-1">
                                                <a href="@Url.Action("Show", "Tickets", new { TicketIdentifier = t.GetTicketIdentifier() } )">
                                                    <div class="btn btn-sm btn-block btn-success">Open</div>
                                                </a>
                                            </div>
                                        }

                                        @if( permissions.CanEditTicket ) {
                                            <div class="col pl-1 pr-1">
                                                <a href="@Url.Action("Edit", "Tickets", new { TicketIdentifier = t.GetTicketIdentifier() } )">
                                                    <div class="btn btn-sm btn-block btn-warning">Edit</div>
                                                </a>
                                            </div>
                                        }

                                        @if( permissions.CanArchiveTicket ) {
                                            <div class="col pl-1 pr-1">
                                                <a href="@Url.Action("Archive", "Tickets", new { TicketIdentifier = t.GetTicketIdentifier() } )">
                                                    <div class="btn btn-sm btn-block btn-danger">Archive</div>
                                                </a>
                                            </div>
                                        }
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>




</div>

@section Scripts {

    @*DataTable Init*@
    <script>
        $("#ticketsTable").DataTable();
    </script>

}