@using Semplicita.Models
@using Semplicita.Helpers

@model EditTicketViewModel

@{
    ViewBag.Title = $"Ticket: {Model.CurrentTicket.GetTicketIdentifier()}";
    UserRolesHelper rolesHelper = new UserRolesHelper();
}

<div class="jumbotron jumbotron-skinny bg-gradient-darkorange">
    <h1>Ticket: '@Model.CurrentTicket.GetTicketIdentifier()'</h1>
    <p class="lead">@Model.CurrentTicket.Title</p>
</div>


<div class="container">

    <div class="row">
        <div class="col-xl-8 pr-xl-5 pb-3">
            <div class="row border-bottom">

                <div class="col pb-2">
                    <h2 class="ticket-title">@Model.CurrentTicket.Title</h2>
                </div>

            </div>

            <div class="row border-bottom">

                <div class="col pb-3">
                    <div class="input-group pt-3">
                        <label class="pr-4 pt-1">Issue type:</label>
                        <div class="card p-3 full-width">
                            <h5>@Model.CurrentTicket.TicketType.Name</h5>
                            <p class="text-sm">@Model.CurrentTicket.TicketType.Description</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row border-bottom">

                <div class="col pt-3">
                    <label for="TicketDescription">Description:</label>
                    <div class="card p-3 full-width">
                        <p>@Model.CurrentTicket.Description</p>
                    </div>
                </div>

            </div>

            <div class="row border-bottom">
                <div class="col pt-3 mt-3">
                    <div class="card direct-chat direct-chat-purple full-width">

                        <div class="card-header">
                            <h5 class="card-title"><b>Comments</b></h5>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-toggle="tooltip" title="Contacts" data-widget="chat-pane-toggle">
                                    <i class="fas fa-comments"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <!-- Conversations are loaded here -->
                            <div class="direct-chat-messages">
                                <!-- Message. Default to the left -->
                                <div class="direct-chat-msg">
                                    <div class="direct-chat-infos clearfix">
                                        <span class="direct-chat-name float-left">Alexander Pierce</span>
                                        <span class="direct-chat-timestamp float-right">23 Jan 2:00 pm</span>
                                    </div>
                                    <img class="direct-chat-img" src="dist/img/user1-128x128.jpg">
                                    <div class="direct-chat-text">
                                        Is this template really for free? That's unbelievable!
                                    </div>
                                    <!-- /.direct-chat-text -->
                                </div>
                                <!-- /.direct-chat-msg -->
                                <!-- Message to the right -->
                                <div class="direct-chat-msg right">
                                    <div class="direct-chat-infos clearfix">
                                        <span class="direct-chat-name float-right">Sarah Bullock</span>
                                        <span class="direct-chat-timestamp float-left">23 Jan 2:05 pm</span>
                                    </div>
                                    <!-- /.direct-chat-infos -->
                                    <img class="direct-chat-img" src="dist/img/user3-128x128.jpg">
                                    <!-- /.direct-chat-img -->
                                    <div class="direct-chat-text">
                                        You better believe it!
                                    </div>
                                    <!-- /.direct-chat-text -->
                                </div>
                            </div>
                            <!--/.direct-chat-messages-->
                            <!-- Contacts are loaded here -->
                            <div class="direct-chat-contacts">
                                <ul class="contacts-list">
                                    <li>
                                        <a href="#">
                                            <img class="contacts-list-img" src="dist/img/user1-128x128.jpg">

                                            <div class="contacts-list-info">
                                                <span class="contacts-list-name">
                                                    Count Dracula
                                                    <small class="contacts-list-date float-right">2/28/2015</small>
                                                </span>
                                                <span class="contacts-list-msg">How have you been? I was...</span>
                                            </div>
                                            <!-- /.contacts-list-info -->
                                        </a>
                                    </li>
                                    <!-- End Contact Item -->
                                    <li>
                                        <a href="#">
                                            <img class="contacts-list-img" src="dist/img/user1-128x128.jpg">

                                            <div class="contacts-list-info">
                                                <span class="contacts-list-name">
                                                    Sarah Doe
                                                    <small class="contacts-list-date float-right">2/23/2015</small>
                                                </span>
                                                <span class="contacts-list-msg">I will be waiting for...</span>
                                            </div>
                                            <!-- /.contacts-list-info -->
                                        </a>
                                    </li>
                                    <!-- End Contact Item -->
                                </ul>
                                <!-- /.contacts-list -->
                            </div>
                            <!-- /.direct-chat-pane -->
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <form action="#" method="post">
                                <div class="input-group">
                                    <input type="text" name="message" placeholder="Type Message ..." class="form-control">
                                    <span class="input-group-append">
                                        <button type="button" class="btn btn-success">Send</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                        <!-- /.card-footer-->
                    </div>
                </div>

            </div>

            <div class="row border-bottom">

                <div class="col mt-3 pt-2 pb-2">
                    <div class="card collapsed-card">
                        <div class="card-header">
                            <h5 class="card-title"><b>Ticket Action History</b></h5>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </div>

                        <div class="card-body">

                            <div class="timeline">
                                @{
                                    DateTime prevDate = Model.CurrentTicket.HistoryEntries.Max(he => he.OccuredAt).Date;
                                }
                                <div class="time-label">
                                    <span class="bg-navy">@prevDate.ToString("MMMM d, yyyy")</span>
                                </div>

                                @foreach( TicketHistoryEntry the in Model.CurrentTicket.HistoryEntries.OrderByDescending(he => he.OccuredAt) ) {
                                    if( prevDate.Date != the.OccuredAt.Date ) {
                                        prevDate = the.OccuredAt.Date;
                                        <div class="time-label">
                                            <span class="bg-navy">@prevDate.ToString("MMMM d, yyyy")</span>
                                        </div>
                                    }



                                    <div>
                                        <div class="timeline-item">
                                            <span class="time"><i class="fas fa-clock"></i> @the.OccuredAt.ToString("hh:mm:ss tt")</span>
                                            <h3 class="timeline-header">@the.GetHistoryTitleHtml()</h3>

                                            <div class="timeline-body">
                                                @the.GetHistoryBodyHtml()
                                            </div>
                                        </div>
                                    </div>
                                }


                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-xl-4">
            <div class="row pt-4 pt-xl-0">
                <div class="col">
                    <div class="card">
                        <div class="card-header bg-gradient-h-green">
                            <h5>Assigned Solver</h5>
                        </div>

                        <div class="card-body">
                            @if( Model.CurrentTicket.AssignedSolverId != null ) {
                                <h5>
                                    @Model.CurrentTicket.AssignedSolver.FullNameStandard
                                    @if( rolesHelper.IsInRole(Model.CurrentTicket.AssignedSolverId, "SuperSolver") ) {
                                        <small class="text-sm badge badge-sm badge-secondary align-top">Super Solver</small>
                                    } else if( rolesHelper.IsInRole(Model.CurrentTicket.AssignedSolverId, "Solver") ) {
                                        <small class="text-sm badge badge-sm badge-success align-top">Solver</small>
                                    }
                                </h5>
                                <small>@Model.CurrentTicket.AssignedSolver.Email</small>
                            } else {
                                <h6 class="no-solver-warning">No Solver Assigned!</h6>
                            }
                        </div>
                    </div>
                </div>
            </div>



            <div class="row pt-4 pt-xl-0">
                <div class="col">
                    <div class="card">
                        <div class="card-header bg-gradient-navy">
                            <h5>Issue Priority <span class="text-danger">*</span></h5>
                        </div>

                        <div class="card-body">
                            <div class="select2-purple">
                                <h6>@Model.CurrentTicket.TicketPriorityLevel.Name</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row pt-4 pt-xl-0">
                <div class="col">
                    <div class="card">
                        <div class="card-header bg-gradient-yellow">
                            <h5>Current Status <span class="text-danger">*</span></h5>
                        </div>

                        <div class="card-body">
                            <h6>@Model.CurrentTicket.TicketStatus.Display</h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row pt-4 pt-xl-0">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title"><b>Attachments</b></h5>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body p-0">
                            @if( Model.CurrentTicket.Attachments.Count > 0 ) {
                                <ul class="products-list product-list-in-card pl-2 pr-2">
                                    @foreach( TicketAttachment a in Model.CurrentTicket.Attachments.OrderByDescending(a => a.UploadedAt) ) {
                                        @*<li class="item">
                                                <div class="product-img">
                                                    <img src="~/img/upload.png" alt="File" class="img-size-50">
                                                </div>
                                                <div class="product-info">
                                                    <a target="_blank" href="@Url.Action("GetTicketAttachment", "Tickets", new { TicketIdentifier = Model.CurrentTicket.GetTicketIdentifier(), attachmentId = a.Id })" class="product-title">
                                                        @a.Name
                                                    </a>
                                                    <span class="product-description text-sm">
                                                        Uploaded @a.UploadedAt.ToString("MMMM d, yyyy h:mm:ss tt")
                                                    </span>
                                                    <span class="product-description text-sm">
                                                        by @a.Author.FullNameStandard
                                                    </span>
                                                </div>
                                            </li>*@
                                        @a.GetDisplayHtml();
                                    }
                                </ul>
                            } else {
                                <h6 class="text-center p-4">No attachments added yet! 🤔</h6>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @* bs-custom-file-input *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bs-custom-file-input/1.3.4/bs-custom-file-input.min.js"></script>


    @*select2 Init*@
    <script>
        $(document).ready(function () {
            //Initialize Select2 Elements
            $('.select2').select2()

            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })

        })
    </script>

    @* bs-custom-file-input Upload *@
    <script>
        $(document).ready(function () {
            bsCustomFileInput.init();
        });
    </script>

}