@using Semplicita.Models
@using Semplicita.Helpers
@model ServerConfigViewModel

@{
    ViewBag.Title = "Manage User Allocation";

    var roleHelper = new UserRolesHelper();
    var roleDisplays = new RoleDisplayDictionary();

}

<div class="jumbotron">
    <h1>User Allocation</h1>
    <p class="lead">View or edit user role assignments of the members of this server.</p>
</div>



@* Help *@
<div class="row">

    @* About Roles *@
    <div class="col-lg-12 p-3">
        @Html.Partial("~/Views/Shared/help/_Help-roles.cshtml")
    </div>
</div>

@* Primary Container Row *@
<div class="row">
    <div class="col-xl-4">
        @* Add/Remove from Roles *@
        <div class="row">
            <div class="col">
                <form action="" method="post">
                    @Html.AntiForgeryToken()
                    <div class="card card-default collapsed-card" id="userAssignRoleCard">
                        <div class="card-header" style="background-color:#F0F0F0">
                            <h3 class="card-title"><i class="fas fa-hands-helping" style="margin-right:10px; width: 18px;"></i><b>Add/Remove from Role</b></h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus" id="userAssignRoleCardCollapseIcon"></i></button>
                            </div>
                        </div>

                        <div class="card-body">
                            <p>To add/remove users to/from roles, please enter their full names and the name of the roles you wish to add/remove them from.</p>
                            <hr />
                            @if( ViewBag.UserRoleAssignErrors != null ) {
                                <ul>
                                    @foreach( string err in ViewBag.UserRoleAssignErrors ) {
                                        <li class="text-danger">@err</li>
                                    }
                                </ul>
                            }
                            @if( ViewBag.UserRoleAssignMessages != null ) {
                                <div class="row">
                                    <ul>
                                        @foreach( string msg in ViewBag.UserRoleAssignMessages ) {
                                            <li class="text-success">@msg</li>
                                        }
                                    </ul>
                                </div>
                            }

                            <div class="form-group">

                                <div class="row p-1">
                                    <div class="col-12">
                                        <h5>Step 1: Select Users</h5>
                                        <div class="select2-purple">
                                            <select class="select2" multiple="multiple" data-placeholder="Select or Type Name..." hidden="hidden" data-dropdown-css-class="select2-purple" style="width: 100%;" name="UserIds">
                                                @foreach( ApplicationUser u in Model.Users.OrderBy(u => u.LastName) ) {
                                                    <option value="@u.Id">@u.FullNameStandard</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>


                                <div class="row p-1">
                                    <div class="col-12">
                                        <h5>Step 2: Select Roles</h5>
                                        <div class="select2-purple">
                                            <select class="select2" multiple="multiple" data-placeholder="Select or Type Role..." hidden="hidden" data-dropdown-css-class="select2-purple" style="width: 100%;" name="Roles">
                                                @foreach( var pair in roleDisplays ) {
                                                    <option value="@pair.Key">@pair.Value</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="card-footer">
                            <div class="col">
                                <div class="row">
                                    <div class="col-xl-6">
                                        <input type="submit" name="userRoles:Remove" value="Remove Role(s)" class="btn btn-danger btn-block" />
                                    </div>
                                    <div class="col-xl-6">
                                        <input type="submit" name="userRoles:Add" value="Add Role(s)" class="btn btn-success btn-block" />

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>


        @* Add/Remove from Projects *@
        <div class="row">
            <div class="col">
                <form action="" method="post">
                    @Html.AntiForgeryToken()
                    <div class="card card-default collapsed-card" id="userAssignProjectCard">
                        <div class="card-header" style="background-color:#F0F0F0">
                            <h3 class="card-title"><i class="fas fa-user-plus" style="margin-right:10px; width: 18px;"></i><b>Add/Remove from Projects</b></h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus" id="userAssignProjectCardCollapseIcon"></i></button>
                            </div>
                        </div>

                        <div class="card-body">
                            <p>To add/remove users to/from projects, please enter their full names and the name of projects you wish to add/remove them from.</p>
                            <hr />
                            @if( ViewBag.UserProjectAllocErrors != null ) {
                                <ul>
                                    @foreach( string err in ViewBag.UserProjectAllocErrors ) {
                                        <li class="text-danger">@err</li>
                                    }
                                </ul>
                            }
                            @if( ViewBag.UserProjectAllocMessages != null ) {
                                <ul>
                                    @foreach( string msg in ViewBag.UserProjectAllocMessages ) {
                                        <li class="text-success">@msg</li>
                                    }
                                </ul>
                            }

                            <div class="form-group">

                                <div class="row p-1">
                                    <div class="col-12">
                                        <h5>Step 1: Select Users</h5>
                                        <div class="select2-purple">
                                            <select class="select2" multiple="multiple" data-placeholder="Select or Type Name..." hidden="hidden" data-dropdown-css-class="select2-purple" style="width: 100%;" name="UserIds">
                                                @foreach( ApplicationUser u in Model.Users.OrderBy(u => u.LastName) ) {
                                                    <option value="@u.Id">@u.FullNameStandard</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>


                                <div class="row p-1">
                                    <div class="col-12">
                                        <h5>Step 2: Select Projects</h5>
                                        <div class="select2-purple">
                                            <select class="select2" multiple="multiple" data-placeholder="Select or Type Project Name..." hidden="hidden" data-dropdown-css-class="select2-purple" style="width: 100%;" name="ProjectIds">
                                                @foreach( Project p in Model.Projects ) {
                                                    <option value="@p.Id">@p.Name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div>

                        <div class="card-footer">
                            <div class="row p-1">
                                <div class="col-xl-6">
                                    <input type="submit" name="projectUsers:Remove" value="Remove User(s)" class="btn btn-danger btn-block" />
                                </div>
                                <div class="col-xl-6">
                                    <input type="submit" name="projectUsers:Add" value="Add User(s)" class="btn btn-success btn-block" />

                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>

    @* User Summary *@
    <div class="col">
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title"><i class="fas fa-table" style="margin-right:10px; width: 18px;"></i><b>Users</b></h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                        </div>
                    </div>

                    <div class="card-body">
                        <table id="usertable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Role(s)</th>
                                    <th>Projects Assigned</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach( ApplicationUser u in Model.Users ) {
                                    <tr>
                                        <td>@u.FullName</td>
                                        <td>@string.Join(", ", roleHelper.ListUserRoleDisplayNames(u.Id))</td>
                                        <td>@string.Join(", ", u.Projects.Select(p => p.Name).ToList())</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    @*navbar selection update*@
    <script>
        $("#navAdminFolder").addClass("menu-open");

        $("#navAdmin").addClass("active");
        $("#navAdminFolder").addClass("active");
        $("#navAdmin_UserAlloc").addClass("active");
    </script>


    @*select2 Init*@
    <script>
        $(document).ready(function () {
            //Initialize Select2 Elements
            $('.select2').select2()

            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })

        })
    </script>

    @*DataTable Init*@
    <script>
        $("#usertable").DataTable();
    </script>


    @*if project allocation messages contain values, unhide the project allocation card, and scroll to it*@
    @if( ViewBag.UserProjectAllocMessages != null || ViewBag.UserProjectAllocErrors != null ) {
        <script>
            $("#userAssignProjectCardCollapseIcon").removeClass("fa-plus");
            $("#userAssignProjectCardCollapseIcon").addClass("fa-minus");
            $("#userAssignProjectCard").removeClass("collapsed-card");


            document.getElementById("userAssignProjectCard").scrollIntoView();
        </script>
    }

    @*if user role messages contain values, unhide the project allocation card, and scroll to it*@
    @if( ViewBag.UserRoleAssignErrors != null || ViewBag.UserRoleAssignMessages != null ) {
        <script>
            $("#userAssignRoleCardCollapseIcon").removeClass("fa-plus");
            $("#userAssignRoleCardCollapseIcon").addClass("fa-minus");
            $("#userAssignRoleCard").removeClass("collapsed-card");

            document.getElementById("userAssignRoleCard").scrollIntoView();
        </script>
    }



}