@using Semplicita.Helpers
@using Semplicita.Models
@{
    ViewBag.Title = "Home Page";
    var uPerm = new PermissionsHelper.PermissionsContainer(new PermissionsHelper(), User, true);
}

<div class="jumbotron">
    <h1>Organize - Share - Solve.</h1><br />
    <p class="lead">Thank you for choosing Simplicita taking your bug / issue tracking to the next level.</p>
    <p>Please choose from the available actions below:</p>
</div>

<div class="row">
    @if ( uPerm.CanCreateTickets ) {
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    @if ( uPerm.CanViewAllTickets ) {
                        <h4>5 Most Recent Tickets</h4>
                    } else {
                        <h4>Your 5 Most Recent Tickets</h4>
                    }
                </div>
                <div class="card-body">
                    @foreach ( var t in uPerm.ViewableTickets.OrderByDescending( t => t.CreatedAt ).Take( 5 ) ) {
                        <a class="btn btn-block btn-outline-primary" href="@Url.Action("Show", "Tickets", new { TicketIdentifier = t.GetTicketIdentifier() })">@t.GetTicketIdentifier(): @t.Title</a>
                    }
                </div>
                <div class="card-footer">
                    @if ( uPerm.CanViewAllTickets ) {
                        <a class="btn btn-primary btn-block" href="@Url.Action("Index", "Tickets")">View All Tickets &raquo;</a>
                    } else {
                        <a class="btn btn-primary btn-block" href="@Url.Action("Index", "Tickets")">View Your Tickets &raquo;</a>
                    }
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4>Create New Ticket</h4>
                </div>
                <div class="card-body">
                    @foreach ( Project p in uPerm.ViewableProjects.Where( p => p.Permissions( User ).CanCreateTicket ) ) {
                        <a class="btn btn-success btn-block" href="@Url.Action("Create", "Tickets", new { p.TicketTag })">Report Issue: '@p.Name' +</a>
                    }
                </div>
            </div>
        </div>
    }
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                @if ( uPerm.CanViewAllProjects ) {
                    <h4>All Projects</h4>
                } else {
                    <h4>Your Projects</h4>
                }
            </div>
            <div class="card-body">
                @foreach ( Semplicita.Models.Project p in uPerm.ViewableProjects ) {
                    if ( p.Permissions( User ).CanViewProject ) {
                        <a class="btn btn-primary btn-block" href="@Url.Action("Project", "Projects", new { p.TicketTag })">Go to Project '@p.Name' &raquo;</a>
                    }
                }
            </div>
            <div class="card-footer">
                <a class="btn btn-primary btn-block" href="@Url.Action("Index", "Projects")">View Projects &raquo;</a>
            </div>
        </div>
    </div>

    @if ( User.IsInRole( "ServerAdmin" ) ) {
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4>Manage Server</h4>
                </div>
                <div class="card-body">
                    <a class="btn btn-primary btn-block" href="@Url.Action("UserAllocation", "Admin")">User Roles &amp; Assignments &raquo;</a>
                    <a class="btn btn-primary btn-block" href="@Url.Action("ProjectConfiguration", "Admin")">Project Workflow Managment &raquo;</a>
                </div>
            </div>
        </div>
    }
</div>
<div class="row">
</div>

@section Scripts {
    <script>
        $("#navHomeFolder").addClass("menu-open");

        $("#navHome").addClass("active");
        $("#navHomeFolder").addClass("active");
        $("#navHome_Welcome").addClass("active");
    </script>
}