@using Semplicita.Models
@model LoginViewModel
@{
    Layout = null;
    ViewBag.Title = "Log in - Simplicita";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Semplicita | Log in</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/icheck-bootstrap/3.0.1/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/adminlte/adminlte.min.css">
    <link rel="stylesheet" href="~/Content/adminlte/adminlte.revisions.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <img class="login-logo-image" src="~/Images/logos/simp_logo_sm.png" />
            <a href=""><b>Simplicita</b></a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Please enter your credentials to continue.</p>
                @if( ViewBag.AccountUpdateEmailMessage != null ) {
                    <p class="text-success">@ViewBag.AccountUpdateEmailMessage</p>
                }

                @using( Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }) ) {
                    @Html.AntiForgeryToken()
                    <p class="login-box-msg text-danger text-sm">@Html.ValidationMessage("")</p>
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="Email" name="Email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Password" name="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="RememberMe" name="RememberMe" value="true">
                                <label for="RememberMe">
                                    Remember Me
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                        </div>
                        <!-- /.col -->
                    </div>
                }

                <div class="social-auth-links text-center mb-3">
                    <p>- OR -</p>
                    <a href="#" class="btn btn-block btn-outline btn-primary">
                        <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
                    </a>
                    <a href="#" class="btn btn-block btn-danger">
                        <i class="fab fa-google mr-2"></i> Sign in using Google
                    </a>
                    <a href="#" class="btn btn-block btn-info">
                        <i class="fab fa-microsoft mr-2"></i> Sign in using Microsoft
                    </a>
                </div>
                <!-- /.social-auth-links -->
                <hr />
                <p class="mb-1">
                    <a href="@Url.Action("ForgotPassword", "Account")">I forgot my password</a>
                </p>
                <p class="mb-1">
                    <a href="@Url.Action("Register", "Account")" class="text-center">Register a new membership</a>
                </p>
                <p class="mb-1">
                    <a href="@Url.Action("ResendEmailConfirmation", "Account")" class="text-center">Resend Confirmation Email</a>
                </p>
                <p class="mb-0">
                    <a href="@Url.Action("DemoLogin")" class="text-center">Login as Demo User</a>
                </p>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Scripts/adminlte/adminlte.min.js"></script>
</body>
</html>