@using Semplicita.Models
@using Semplicita.Helpers
@using Microsoft.AspNet.Identity

@model Project
@{
    ProjectHelper projectHelper = new ProjectHelper();
    UserRolesHelper rolesHelper = new UserRolesHelper();

    var ProjectManageruser = projectHelper.GetManagerUserOfProject(Model.Id);

    var memberUsers = Model.Members.Where(u => u.IsDemoUser == false).ToList();
    var reporterUsers = rolesHelper.PullReportersFromUserList(memberUsers).Where(u => u.IsDemoUser == false).ToList();
    var solverUsers = Model.Members.Where(u => ( rolesHelper.IsInRole(u.Id, "SuperSolver") || rolesHelper.IsInRole(u.Id, "Solver") ) && u.IsDemoUser == false).OrderBy(u => u.FullName).ToList();

    var openTickets = Model.ChildTickets.Where(t => t.TicketStatus.IsClosed == false).OrderByDescending(t => t.CreatedAt).ToList();
    var resolvedTickets = Model.ChildTickets.Where(t => t.TicketStatus.IsResolved == true).ToList();
}

<div class="jumbotron bg-gradient-purple mb-2" style="padding-bottom:25px;padding-top:45px;">
    <h1>@Model.Name</h1>
    <p class="lead">@Model.Description</p>

    <hr />

    <div class="row pt-1">
        <div class="col text-left">
            <b>Created At: </b>@Model.CreatedAt.ToString("MMM d, yyyy', at' h:mm tt")
        </div>
        @if( Model.ModifiedAt != null ) {
            <div class="col text-right">
                <b>Last Modified: </b>@(( (DateTime)Model.ModifiedAt ).ToString("MMM d, yyyy', at' h:mm tt"))
            </div>
        }
    </div>
</div>

<div class="row pt-1 pb-3">
    <div class="col-3">
        <!-- small box -->
        <div class="small-box bg-gradient-navy">
            <div class="inner">
                <h3>@reporterUsers.Count</h3>

                <p>Reporters</p>
            </div>
            <div class="icon">
                <i class="ion ion-ios-people"></i>
            </div>


            @if( reporterUsers.Count > 0 ) {
                <a class="small-box-footer dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Reporters
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    @foreach( ApplicationUser u in reporterUsers ) {
                        <a class="dropdown-item">
                            <h6>@u.FullNameStandard</h6>
                            @u.GetRoleBadges(rolesHelper.ListUserRoles(u.Id))
                        </a>
                    }
                </div>
            } else {
                <a class="small-box-footer">
                    No Reporters Assigned! 😞
                </a>
            }

        </div>
    </div>
    <div class="col-3">
        <!-- small box -->
        <div class="small-box bg-cyan">
            <div class="inner">
                <h3>@solverUsers.Count</h3>

                <p>Solvers</p>
            </div>
            <div class="icon">
                <i class="ion ion-ios-people"></i>
            </div>


            @if( solverUsers.Count > 0 ) {
                <a class="small-box-footer dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Solvers
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    @foreach( ApplicationUser u in solverUsers ) {
                        <a class="dropdown-item">
                            <h6>@u.FullNameStandard</h6>
                            @u.GetRoleBadges(rolesHelper.ListUserRoles(u.Id))
                        </a>
                    }
                </div>
            } else {
                <a class="small-box-footer">
                    No Solvers Assigned! 😮
                </a>
            }

        </div>
    </div>
    <div class="col-3">
        <!-- small box -->
        <div class="small-box bg-gradient-green">
            <div class="inner">
                <h3>@openTickets.Count</h3>

                <p>Open Tickets</p>
            </div>
            <div class="icon">
                <i class="ion ion-ios-list"></i>
            </div>

            @if( openTickets.Count > 0 ) {
                <a class="small-box-footer dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    View
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    @foreach( Ticket t in openTickets ) {
                        if( rolesHelper.CanViewTicket(User, t.Id) ) {

                            <a class="dropdown-item" href="@Url.Action("Show", "Tickets", new { TicketIdentifier = t.GetTicketIdentifier() })">
                                @t.Title
                            </a>
                        } else {

                            <a class="dropdown-item">
                                @t.Title
                            </a>
                        }
                    }
                </div>
            } else {
                <a class="small-box-footer">
                    No open tickets 🎉
                </a>
            }
        </div>
    </div>
    <div class="col-3">
        <!-- small box -->
        <div class="small-box bg-gradient-darkgreen">
            <div class="inner">
                <h3>@resolvedTickets.Count</h3>

                <p>Resolved Tickets</p>
            </div>
            <div class="icon">
                <i class="ion ion-checkmark-round"></i>
            </div>

            @if( resolvedTickets.Count > 0 ) {
                <a class="small-box-footer dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    View
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    @foreach( Ticket t in resolvedTickets ) {
                        <a class="dropdown-item">
                            @t.Title
                        </a>
                    }
                </div>
            } else {
                <a class="small-box-footer">
                    None Resolved Yet! 🤔
                </a>
            }
        </div>
    </div>

</div>

<div class="row">

    <div class="col-lg-4">
        <div class="row">
            <div class="col">
                <div class="card card-blue">
                    <div class="card-header bg-gradient-h-blue">
                        <h5><i class="card-header-icon fas fa-bezier-curve"></i>Project Manager</h5>
                    </div>
                    <div class="card-body">
                        <h5>@ProjectManageruser.FullNameStandard</h5>
                        <small>@ProjectManageruser.Email</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card card-green collapsed-card">
                    <div class="card-header bg-gradient-green">
                        <h5 class="card-title"><i class="card-header-icon fas fa-directions"></i>Actions</h5>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-3">

                        @if( rolesHelper.CanCreateTicket(User, Model.Id) ) {
                            <div class="row mb-2 pb-3 border-bottom">
                                <div class="col">
                                    <a href="@Url.Action("Create", "Tickets", new { Model.TicketTag })">
                                        <div class="btn btn-block btn-success" title="Report New Issue">Report New Issue <i class="fas fa-plus pl-1"></i></div>
                                    </a>
                                </div>
                            </div>
                        }
                        @if( rolesHelper.CanEditProject(User, Model.Id) ) {
                            <div class="row p-2">
                                <div class="col">
                                    <a href="@Url.Action("Edit", "Projects", new { Model.TicketTag })">
                                        <div class="btn btn-block btn-warning">Edit Project</div>
                                    </a>
                                </div>
                            </div>
                        }
                        @if( rolesHelper.CanArchiveProject(User, Model.Id) ) {
                            <div class="row p-2">
                                <div class="col">
                                    <a href="@Url.Action("Archive", "Projects", new { Model.TicketTag })">
                                        <div class="btn btn-block btn-danger">Deactive Project</div>
                                    </a>
                                </div>
                            </div>
                        }

                        </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title pt-1">
                    <i class="fas fa-ticket-alt" style="margin-right:10px; width: 18px;"></i><b>
                        @if( rolesHelper.CanViewAllTicketsInProject(User, Model.Id) ) {
                            <text>All Tickets</text>
                        } else {
                            <text>Your Tickets</text>
                        }
                    </b>
                </h3>

                <div class="card-tools">
                    @if( rolesHelper.CanCreateTicket(User, Model.Id) ) {
                        <a href="@Url.Action("Create", "Tickets", new { Model.TicketTag })">
                            <div class="btn btn-sm btn-warning" title="Report New Issue">Report Issue <i class="fas fa-plus pl-2"></i></div>
                        </a>
                    }
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                </div>
            </div>

            <div class="card-body pt-2">

                @if( openTickets.Count > 0 ) {
                    <ul class="todo-list ui-sortable" data-widget="todo-list">

                        @foreach( Ticket t in openTickets ) {
                            <li class="" style="padding:15px; margin-bottom:10px;">
                                <div class="row">
                                    <span class="handle ui-sortable-handle align-items-sm-center">
                                        <i class="fas fa-ellipsis-v"></i>
                                        <i class="fas fa-ellipsis-v"></i>
                                    </span>
                                    <div class="col">
                                        <div class="row border-bottom">
                                            <div class="col-8 ml-2 mb-1">
                                                @if( rolesHelper.CanViewTicket(User, t.Id) ) {
                                                    <a href="@Url.Action("Show", "Tickets", new { TicketIdentifier = t.GetTicketIdentifier() })"><span class="text">@t.Title</span></a> @t.TicketStatus.GetStatusBadgeHtml()
                                                } else {
                                                    <span class="text mt-1">@t.Title</span> @t.TicketStatus.GetStatusBadgeHtml()
                                                }
                                                <div class="tools">
                                                    @if( rolesHelper.CanEditTicket(User, t.Id) ) {
                                                        <a href="@Url.Action("Edit", "Tickets", new { TicketIdentifier = t.GetTicketIdentifier() })"><i class="fas fa-edit"></i></a>

                                                    }
                                                    @if( rolesHelper.CanArchiveTicket(User, t.Id) ) {

                                                        <a href="@Url.Action("Delete", "Tickets", new { TicketIdentifier = t.GetTicketIdentifier() })"><i class="fas fa-trash"></i></a>
                                                    }
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="d-none d-xl-block float-right ml-3 text-sm text-secondary text-right">
                                                    Created: @t.CreatedAt.ToString("M/d/yyyy h:mm tt")
                                                    @if( t.ResolvedAt.HasValue ) {
                                                        <br />
                                                        <text>Resolved: @t.ResolvedAt.Value.ToString("M/d/yyyy h:mm tt")</text>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row pt-2">
                                            <div class="row">
                                                <div class="col pl-3">
                                                    @t.GetAssignmentBadgeHtml()
                                                    @t.GetLastInteractBadgeHtml()
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </li>
                        }

                    </ul>
                } else {
                    <h5 class="text-center">No open tickets! 😎</h5>
                }
            </div>
        </div>
    </div>
</div>




@section Scripts {


    @*navbar selection update*@
    <script>
        $("#navProjectsFolder").addClass("menu-open");

        $("#navProjects").addClass("active");
        $("#navProjectsFolder").addClass("active");
        $("#navProjects_Project@(Model.Id)").addClass("active");
    </script>


    @* init todo list *@
    <script>
        $('.todo-list').sortable({
            placeholder: 'sort-highlight',
            handle: '.handle',
            forcePlaceholderSize: true,
            zIndex: 999999
        })
    </script>

}